@import 'settings';
@import 'foundation';

.checkout_wrapper{
    border: 1px solid #FAFAFB;
    border-top: 0;
    box-shadow: 3px 3px 3px #888888;
}

.checkout_header{
    background-color: #FAFAFA;
    min-height: 60px;
}

.error{
	color: red;
	font-size: 0.6em;
}

.order_wrapper{
    border: 0.5px solid #DDD;
    border-radius: 3px;
}
.login-form-background{
}
.login-form-wrapper{
}


.staff-nav{
    background-color: #00BCD4;
    height: 100vh;
}

.staff-nav a{
    color: white;
}

.staff-nav hr{
}

.nav-title{
    color: #FAFAFA;
}

.body-color{
    background-color: #FAFAFA;
}

.staff-nav li:hover{
    background-color: #e91e63;
}

.staff-nav li{
    margin-bottom: .5em;
    margin-left: 1em;
}
